<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="cards.css">
</head>

<body>
    <h1>Welcome back <%= user.name %>
    </h1>
    <section class="main">
        <div class="box">
            <a href="/editBranch">
                <h3>Branch</h3>
            </a>
        </div>
        <div class="box">
            <a href="/editSubject">
                <h3>Subject</h3>
            </a>
        </div>
        <div class="box">
            <a href="/editPdf">
                <h3>PDF</h3>
            </a>
        </div>
    </section>
</body>

</html>